---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A Dedicated,Resourceful and a Versatile young lady with experience in office assistant with competence in Administrative Service.I believe in a blend of efficiency and effectiveness to be a part of the team,i hope to contribute my communication,teamwork and control of function to the organization.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Digital Marketing"
      subtitle="2024 at HoneyTreat, Lagos, Nigeria"
    />
    <TimeLineElement
      title="HND Business Administration and Management"
      subtitle="2017 to 2022 at Gatewaypolytechnic saapade, Ogun, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Google My Business"
      subtitle="2024  at GoldRush Real Estate Agency, Lagos, Nigeria"
    >
      Create Google Business Profile For The Company.
    </TimeLineElement>
    <TimeLineElement
      title="Buyer Persona"
      subtitle="2024  at Trade With Lumide, Lagos, Nigeria"
    >
      Getting buyer persona through their Age range,Location,interst,gender,Employment status,Marital Status to get traffic.
    </TimeLineElement>
    <TimeLineElement
      title="Office Assistant"
      subtitle="2019 to 2020 at DABS INTEGRATED GEOMETRIC SOLUTION, Lagos, Nigeria"
    >
      Preparing agendas for mettings with the CEO,Answering phone calls,Welcoming visitors to office,Ensuring the office runs smoothly.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Email Marketing</li>
    <li>Meta Ads</li>
    <li>Google Analytics</li>
    <li>Google Search Console</li>
    <li>Instagram Ads</li>
    <li>Google Ads</li>
    <li>Goole Tag Manager</li>
    <li>Blog written</li>
    <li>Google Business Profile</li>
    <li>Drop Shipping</li>
    <li>Linkedin Ads</li>
    <li>Tictok Ads</li>
    <li>Google Local Service</li>
    <li>Social Media Marketing</li>
    <li>Google Adsense</li>
  </ul>
</BaseLayout>
