---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5"><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MC4R9JQ9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm mobereade rebecca</div>
    <div class="text-3xl py-3 font-bold">Digital marketing</div>
    <div class="py-2">
      <text class="text-lg">
        This is <b>rebecca</b> I help businesses enhance their online presence and drive measurable results. Whether it's increasing website traffic through SEO strategies, crafting compelling content, or running high-converting ads, I am dedicated to delivering tailored solutions that meet client goals.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/@busola_reb89073" target="_blank"> Let's connect!</a>
      <a href="https://github.com/RebeccaBusola" target="_blank" class="btn btn-outline ml-5">
        Review My Resume
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Breath Easy, Cost & Tips To Proffessional Smoke Removal Service"
    img="/post_img.webp"
    desc="https://www.puroclean.com/schwenksville-pa-puroclean-lansdale/blog/breath-easy-cost-tips-to-professional-smoke-removal-service/"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Essential Guide To Mold Remediation:Keeping Your Home Safe And Healthy"
    img="/post_img.webp"
    desc="https://docs.google.com/document/d/1FDuW3_63vm6EEUPqKUhLACfekd3tN-ji/edit?usp=drivesdk&ouid=112310553598743558189&rtpof=true&sd=true"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Professional Biohazard cleanup:Esuring Your Health Ans Safety"
    img="/post_img.webp"
    desc="http://greenpathsdev.com/professional-biohazard-cleanup/"
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
